* {
  margin: 0;
  padding: 0;
}
#main {
  background-color: #e6f1ff;
}
h1 {
  color:  #001a1a;
  margin: 0px auto;
  padding: 30px 0px 0px 0px;
  text-align: center;
}
h1 span {
  font-size: smaller;
  font-style: italic;
  color: rgb(71, 71, 71);
}
#img-div {
  padding: 30px 0;
  width: 95%;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: inset 1px 1px 3px rgb(95, 74, 43);
}
#img-div img {
  height: auto;
  width:80%;
  display: block;
  margin: 10px auto;
  box-shadow: 3px 2px 5px rgb(95, 74, 43), -3px 2px 5px rgb(95, 74, 43);
}
#center {
  margin: 10px 0;
  text-align: center;
}
#img-caption{
  width: 70%;
  margin: auto;
  font-size: 14px;
  text-align: center;
}

#tribute-info {
  width: 75%;
  margin: 10px auto;
  padding: 25px;
}

h3 {
  color:  #0066cc;
  margin: 10px 0;
  text-align: center;
}

ul {
  margin: 2% 2% 2% 2%;
}

a {
  color: #292b2c
}